{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Advanote{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/authorization.css' %}" rel="stylesheet">
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="background-image" style="background-image: url('{% static "img/background.jpeg" %}');">
    <div class="container">
        <form class="login-form" method="post" action="{% url 'authorization:login' %}">
            {% csrf_token %}
            <img src="{% static 'img/logo.png' %}" alt="Логотип" class="logo">
            <h2 class="text-center" style="margin-bottom: 50px;">Войти</h2>

                {% if form.errors %}
            <p class="text-center" style="font-size: 15px; color: #CD2A08;">Неверный логин или пароль</p>
                {% endif %}

            <div class="form-group">
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block button">Войти</button>
            </div>
        <div class="text-center">
            <a href="{% url 'authorization:password_reset' %}">Забыли пароль?</a>
            <p>Нет аккаунта? <a href="{% url 'authorization:signup' %}">Зарегистрируйтесь</a></p>
        </div>
        </form>
    </div>
</body>
