<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Заметки</title>
    <link href="{% static 'css/tasks-styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/notes.css' %}" rel="stylesheet">
</head>
<body>

<header>
    <div class="hello-header">
        <p style="font-style: italic; opacity: 0.7; margin-left: 10px;">заметки / </p>
    </div>
</header>
<div class="overlay" id="overlay"></div>
<div class="container">
    <h1 style="font-family: Calibri, sans-serif; font-weight: bold;">Заметки</h1>
    <p style="font-family: Calibri, sans-serif; margin-top: 20px; font-style: italic">Чтобы добавить заметку, нажмите на "+" в меню</p>
    <p style="font-family: Calibri, sans-serif; margin-top: 10px; font-style: italic">Чтобы сохранить новую заметку, нажмите клавишу "Enter" в заголовке всплывающего окна</p>
    <p style="font-family: Calibri, sans-serif; margin-top: 10px; font-style: italic">Для редактирования заметок доступно автосохранение</p>

</div>
<script src="{% static 'js/notes.js' %}"></script>
</body>
</html>
{% endblock %}