{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="container">
    <script src="{% static 'js/tasks.js' %}"></script>
    <script src="{% static 'js/notes.js' %}"></script>
    <link href="/static/css/tasks-styles.css" rel="stylesheet">
    <div class="overlay" id="overlay"></div>
    <h1 style="margin-bottom: 20px; text-align: center">{{ project.name }}</h1>
    <table class="table table-th-block">
        <tbody>
        <tr>
            <td class="active">Creator:</td>
            <td>{{ project.owner.username }}</td>
        </tr>
        <tr>
            <td class="active">Description:</td>
            <td>
                {{ project.description }}
            </td>
        </tr>
        <tr>
            <td class="active">Tasks:</td>
            <td>
                {% for task in project.task.all %}
                <a class="task project-task" data-task-id="{{ task.id }}">{{ task.title }}</a>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td class="active">Notes:</td>
            <td>
                {% for note in project.note.all %}
                <a class="note-link" href="/notes/{{ note.id }}/">{{ note.title }}</a>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td class="active">Members:</td>
            <td>
                <p>{{ project.owner.username }}</p>
                {% for member in project.members.all %}
                <p>{{ member.username }}</p>
                {% endfor %}
            </td>
        </tr>
        {% if project.invite_link and project.owner == user %}
        <tr>
            <td class="active">Invitation link:</td>
            <td>{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'projects:invite_link' pk=project.id invite_code=project.invite_link %}</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    {% if project.owner == user %}
    <a href="{% url 'projects:create_invite' project.id %}" style="text-decoration: none;">
        <button type="submit" class="btn btn-primary btn-block button">Generate new link</button>
    </a>
    {% endif %}
</div>
{% endblock %}
